@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #0b3569;
    --text-color: black;
    --hover-color: black;
    --btn-bg-color: #0b3569;
    --btn-hover-color: #000;
    --container-width: 1600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

body {
    background: #f1f6fc31;
}

section, footer {
    padding: 50px 0;
}

h1 {
    color: azure;
}

h3 {
    font-size: 30px;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 5%;
}

.slider1{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 3s;
}

.slide img{
    width: 800px;
}

#radio1:checked ~ .firts{
    margin-left: 0;
}

#radio2:checked ~ .firts{
    margin-left: -25%;
}

#radio3:checked ~ .firts{
    margin-left: -52.3%;
}

#radio4:checked ~ .firts{
    margin-left: -77.3%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #d3e6df;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #d3e6df;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #d3e6df;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #d3e6df;
}



.btn {
    background-color: var(--btn-bg-color);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: azure;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    position: relative;
}

nav ul a:not(.btn):after {
    content: "";
    background-color: var(--hover-color);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: width 0.3s ease;
}

nav ul a:hover::after {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner .banner-text {
    margin: 150px 0;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: azure;
}

.banner .banner-text p {
    font-size: 20px;
    color: azure;
    font-weight: lighter;
    margin: 18px 0;
}

.parada-rpbc .container {
    display: flex;
    align-items: center;
}

.parada-rpbc .parada-rpbc-text {
    width: 50%;
    padding: 0 10px;
}

.parada-rpbc .parada-rpbc-img {
    width: 60%;
}

.parada-rpbc .parada-rpbc-img img {
    width: 60%;
    transition: transform 0.3s ease;
}

.escopos h3, .escopos p {
    text-align: center;
    color: var(--text-color);
}

.escopos .card-item {
    background-color: #d3e6df;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: background-color 0.3s ease, margin-top 0.3s ease;
}

.escopos .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.escopos .card-item:hover {
    background-color: var(--btn-bg-color);
    margin-top: -5px;
}

.escopos .card-item:hover .nome-unidade, .escopos .card-item:hover .descrição-escopo {
    color: white;
}

.footer {
    background-color: var(--btn-bg-color);
    text-align: center;
}

.footer p {
    margin-top: 10px;
    color: antiquewhite;
}

.unidade-uv .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.unidade-uv .container ul li {
    margin-top: 10px;
    width: 50%;
    color: var(--text-color);
}

.unidade-uv .unidade-uv-text {
    width: 60%;
    padding-right: 30px;
    color: var(--text-color);
}

.unidade-uv .unidade-uv-img img {
    width: 60%;
    border-radius: 10px;
}

.unidade-uv .unidade-uv-img {
    width: 30%;
}

.unidade-uv .unidade-uv-img {
    width: 30rem;
    height: 33rem;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.unidade-uv .unidade-uv-img img {
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
    
}


.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}